.error {
    border: 2px solid red;
}

.error__message {
    color: red;
}

.filter__active {
    background-color: #575784;
    color: white;
}

.task__done {
    text-decoration: line-through;
    opacity: 0.5;
}

